altair
asttokens
attrs
beautifulsoup4
blinker
bs4
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
debugpy
decorator
executing
filelock
fsspec
gitdb
GitPython
h11
huggingface_hub==0.11.1
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
mpmath
narwhals
nest-asyncio
networkx
nltk
numpy
outcome
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
protobuf==3.20.3
psutil
pure_eval
pyarrow
pycparser
pydeck
Pygments
PySocks
python-dateutil
pytz  # ← don't pin version to avoid compatibility issues
PyYAML
pyzmq
referencing
regex
requests
rpds-py
safetensors
scikit-learn
scipy
selenium
torch==2.1.2
transformers==4.36.2
sentence-transformers==2.2.2
setuptools
six
smmap
sniffio
sortedcontainers
soupsieve
stack-data
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
tornado
tqdm
traitlets
trio
trio-websocket
typing_extensions
tzdata
urllib3
watchdog
wcwidth
websocket-client
wsproto